<ul class="main-navigation">
<li><a href="{{ root_url }}/"><i class="fa fa-home"></i> 主页</a></li>
  <li><a href="{{ root_url }}/blog/categories/blockchain/"><i class="fa fa-flask"></i>blockchain</a></li>
  <li><a href="{{ root_url }}/blog/categories/network/"><i class="fa fa-flask"></i>network</a></li>
  <li><a href="{{ root_url }}/blog/categories/develop/"><i class="fa fa-flask"></i>develop</a></li>
  <li><a href="{{ root_url }}/blog/categories/ai/"><i class="fa fa-flask"></i>AI</a></li>
  <li><a href="{{ root_url }}/blog/categories/tools/"><i class="fa fa-flask"></i>tools</a></li>
  <li><a href="{{ root_url }}/blog/categories/life/"><i class="fa fa-flask"></i>life</a></li>
  <li><a href="{{ root_url }}/blog/archives"><i class="fa fa-list-ul"></i>存档</a></li>
  <li><a href="{{ root_url }}/about">关于</a></li>
</ul>
